openapi: 3.0.3
info:
  title: Whiplash (Rydership) Bundle Items Simulate API
  description: The Whiplash REST API (now RyderShip API under Ryder System) enables developers to manage orders, items, inventory, shipments, consumer returns, customers, notification subscriptions, and documents programmatically. The API uses OAuth 2.0 Bearer token authentication and supports both authorization code and client credentials flows. The V2 API is open by invite only.
  version: '2.0'
  contact:
    name: Rydership Development Team
    email: tech@whiplash.com
    url: https://www.getwhiplash.com
  x-logo:
    url: https://wl-s3-assets.s3.amazonaws.com/rydership/RyderShip-horizontal-safe-padding.svg
servers:
- url: https://api.getwhiplash.com
  description: Whiplash Production API
security:
- bearerAuth: []
tags:
- name: Simulate
  description: Simulation endpoints for testing order, consumer return, and shipnotice processing in sandbox environments
paths:
  /v2/simulate/orders/create:
    post:
      operationId: simulateCreateOrder
      summary: Simulate order creation
      description: Creates a simulated order for testing purposes.
      tags:
      - Simulate
      responses:
        '201':
          description: Simulated order created
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/simulate/orders/{order_id}/process:
    post:
      operationId: simulateProcessOrder
      summary: Simulate order processing
      description: Simulates processing of an order through the fulfillment pipeline.
      tags:
      - Simulate
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order processed in simulation
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/simulate/consumer_returns/create:
    post:
      operationId: simulateCreateConsumerReturn
      summary: Simulate consumer return creation
      description: Creates a simulated consumer return for testing purposes.
      tags:
      - Simulate
      responses:
        '201':
          description: Simulated consumer return created
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/simulate/consumer_returns/{consumer_return_id}/process:
    post:
      operationId: simulateProcessConsumerReturn
      summary: Simulate consumer return processing
      tags:
      - Simulate
      parameters:
      - name: consumer_return_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Consumer return processed in simulation
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/simulate/shipnotices/create:
    post:
      operationId: simulateCreateShipnotice
      summary: Simulate shipnotice creation
      description: Creates a simulated advance shipment notice for testing purposes.
      tags:
      - Simulate
      responses:
        '201':
          description: Simulated shipnotice created
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/simulate/shipnotices/{shipnotice_id}/process:
    post:
      operationId: simulateProcessShipnotice
      summary: Simulate shipnotice processing
      tags:
      - Simulate
      parameters:
      - name: shipnotice_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Shipnotice processed in simulation
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Unauthorized — invalid or missing Bearer token
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: OAuth 2.0 Bearer token. Obtain via authorization code or client credentials flow. See https://help.whiplash.com/hc/en-us/articles/360050870691-Authentication-for-the-V2-API
externalDocs:
  description: Whiplash API Developer Documentation
  url: https://help.whiplash.com/hc/en-us/categories/13378954544411-Whiplash-Application-Developers
